div.app{
    width: 90%;
    background-color: #ddd;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #222;

}

header{
    flex-basis: 30vh;
    
}

main{
    padding: 30px 0;
    display: flex;
    flex-grow: 1;
}
aside{
    min-width: 240px;
    
}

section.page{
    flex-grow: 1;
}

footer{
    background-color: #000;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
}